body {
  margin: 0;
  background-color: rgba(96, 102, 103, 0.814);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.links {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 41%;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
  left: 585px;
  top: 30px;
}

a:link,
a:visited {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 20px;
  margin-top: -10px;
}

a:active,
a:hover {
  background-color: rgba(191, 234, 250, 0.814);
}

.item {
  margin: 10px;
  margin-left: 30px;
  margin-top: 4px;

}

#header {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(142, 222, 247, 0.814);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #CCC;

}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}


 

.container {
  background-image:
    linear-gradient(to right, rgb(142, 222, 247, 0.814) 0%, rgb(105, 115, 118, 0.814) 100%);
  position: relative;
  width: 35%;
  height: 455px;
  border-right: 1px solid rgba(187, 199, 202, 0.814);
  margin-top: 8em;
  margin-left: 40em;
  width: 600px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  background-color: silver;
  border-radius: 0.3em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.image{
  position:relative;
  margin-top: -45px;
}
.icons{
  position: relative;
  margin-top: 25px;
}
.card{
  position: relative;
  margin-right: 20px;
  background-color: rgb(26, 151, 200);
  width: 400px;
  height: 200px;
}